<div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="card mb-4">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3">Internship Offre per month</h5>
          <div echarts [options]="chartLineOption2" style="height: 300px"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card mb-4">
        <div class="card-body p-0">
          <h5 class="card-title m-0 p-3">Applicants per month</h5>
          <div echarts [options]="chartLineOption3" style="height: 300px"></div>
        </div>
      </div>
    </div>
  </div>
  