<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
<div *ngIf="currentInstitution"  class="breadcrumb">
    <h1>Update {{currentInstitution.name ||"institution"}}</h1>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row">
    <div *ngIf="currentInstitution" class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="card-title mb-3">Information</div>
<form [formGroup]="updateInstitutionForm" (ngSubmit)="updateInstitution(currentInstitution.id)">
    <div class="row">
        <div class="col-md-6 form-group mb-3">
            <label >Name</label>
            <input type="text" formControlName="name" class="form-control" id="firstNameEdit" placeholder="Enter institution's name">
            <div *ngIf="shouldShowError('name', 'required')" class="text-danger">
                Name is required.
            </div>
            <div *ngIf="shouldShowError('name', 'minlength')" class="text-danger">
                Name must be at least 3 characters long.
            </div>
            <div *ngIf="shouldShowError('name', 'maxlength')" class="text-danger">
                Name must be at most 40 characters long.
            </div>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label >Slogan</label>
            <input type="text" formControlName="slogan" class="form-control" id="lastNameEdit" placeholder="Enter institution's slogan">
            <div *ngIf="shouldShowError('slogan', 'required')" class="text-danger">
                Slogan is required.
            </div>
            <div *ngIf="shouldShowError('slogan', 'minlength')" class="text-danger">
                Slogan must be at least 3 characters long.
            </div>
            <div *ngIf="shouldShowError('slogan', 'maxlength')" class="text-danger">
                Slogan must be at most 50 characters long.
            </div>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label>Country</label>
            <select formControlName="country" class="form-control form-control" id="countrySelectEdit">
                <option *ngFor="let country of countries" [value]="country.country">{{ country.country }}</option>
            </select>
            <div *ngIf="shouldShowError('country', 'required')" class="text-danger">
                Country is required.
            </div>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label>Address</label>
            <input type="text" formControlName="address" class="form-control" id="addressEdit" placeholder="Enter institution's address">
            <div *ngIf="shouldShowError('address', 'required')" class="text-danger">
                Address is required.
            </div>
            <div *ngIf="shouldShowError('address', 'minlength')" class="text-danger">
                Address must be at least 10 characters long.
            </div>
            <div *ngIf="shouldShowError('address', 'maxlength')" class="text-danger">
                Address must be at most 100 characters long.
            </div>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control" id="descriptionEdit" placeholder="Enter institution's description">
            <div *ngIf="shouldShowError('description', 'required')" class="text-danger">
                Description is required.
            </div>
            <div *ngIf="shouldShowError('description', 'minlength')" class="text-danger">
                Description must be at least 10 characters long.
            </div>
            <div *ngIf="shouldShowError('description', 'maxlength')" class="text-danger">
                Description must be at most 500 characters long.
            </div>
        </div>

        <div class="col-md-6 form-group mb-3">
            <label>Website</label>
            <input formControlName="website" class="form-control" id="creditEdit" placeholder="Web address">
            <div *ngIf="shouldShowError('website', 'required')" class="text-danger">
                Website is required.
            </div>
            <div *ngIf="shouldShowError('website', 'minlength')" class="text-danger">
                Website must be at least 5 characters long.
            </div>
            <div *ngIf="shouldShowError('website', 'maxlength')" class="text-danger">
                Website must be at most 100 characters long.
            </div>
        </div>

        <div class="col-md-12">
            <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Submit</btn-loading>
        </div>
    </div>
</form>
            </div>
        </div>
    </div>
    <div *ngIf="currentInstitution" class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <form (ngSubmit)="generateExcel()" [formGroup]="generateForm">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Start Date</label>
                            <div class="input-group">
                            <input formControlName="startDate" id="picker2"
                                   class="form-control form-control-rounded"
                                   placeholder="yyyy-mm-dd" name="dp2"
                                   ngbDatepicker #dp2="ngbDatepicker"  [maxDate]="maxDate" [minDate]="minDate" [startDate]="bsValue">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" (click)="dp2.toggle()" type="button">
                                    <i class="icon-regular i-Calendar-4"></i>
                                </button>
                            </div>
                            </div>
                            <div *ngIf="generateForm.controls['startDate'].touched && generateForm.controls['startDate']?.invalid" class="text-danger">
                                <div *ngIf="generateForm.get('startDate')?.errors?.['required']">Start Date is required.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Finish Date</label>
                            <div class="input-group">
                            <input formControlName="finishDate" id="picker1"
                                   class="form-control form-control-rounded"
                                   placeholder="yyyy-mm-dd" name="dp1"
                                   ngbDatepicker #dp="ngbDatepicker"  [maxDate]="maxDate" [minDate]="minDate" [startDate]="bsValue" >
                            <div class="input-group-append">
                                <button class="btn btn-secondary" (click)="dp.toggle()" type="button">
                                    <i class="icon-regular i-Calendar-4"></i>
                                </button>
                            </div>
                            </div>
                            <div *ngIf="generateForm.controls['finishDate'].touched && generateForm.controls['finishDate']?.invalid" class="text-danger">
                                <div *ngIf="generateForm.get('finishDate')?.errors?.['required']">Finish Date is required.</div>
                            </div>
                            <div *ngIf="generateForm.errors?.['differentMonth']" class="text-danger">
                                Start and finish dates must be in the same month.
                            </div>
                            <div *ngIf="generateForm.errors?.['invalidDateOrder']" class="text-danger">
                                Finish date cannot be before the start date.
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" formControlName="name" placeholder="Name" type="text">
                            <div *ngIf="generateForm.controls['name'].touched && generateForm.controls['name']?.invalid" class="text-danger">
                                <div *ngIf="generateForm.get('name')?.errors?.['required']">Name is required.</div>
                                <div *ngIf="generateForm.get('name')?.errors?.['maxlength']">Name must be less than 15 characters.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <input class="form-control" formControlName="color" type="color">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" (click)="addEvent()" class="btn btn-success">Add Event</button>
                        <button type="button" (click)="downloadExcel()" class="btn btn-info">Download Calendar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="currentInstitution"  class="col-md-6">
        <div *ngIf="generationEventList.length > 0" class="card mb-4">
            <div class="card-body">
                <ul class="products-list product-list-in-box">
                    <li *ngFor="let event of generationEventList" class="item">
                        <div class="product-info">
                            <a href="javascript:void(0)" class="product-title">{{ event.name }}
                                <span class="label label-warning pull-right">{{ event.startDate | date: 'mediumDate' }} - {{ event.finishDate | date: 'mediumDate' }}</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <div id="map"></div>
                <button type="button" (click)="saveLocation()" class="btn btn-primary">Save Location</button>
            </div>
        </div>
    </div>
</div>