<div>
  <div class="breadcrumb">
    <h1>Tickets :</h1>
    <ul>
      <button
        _ngcontent-hdd-c88=""
        type="button"
        class="btn btn-info btn-rounded m-1"
        [routerLink]="['/ticketsStudent/add']">
        Submit Tickets
      </button>
    </ul>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <!-- Search Bar -->
  <div class="row mb-3">
    <div class="col-md-12">
      <input 
        type="text" 
        class="form-control" 
        placeholder="Search tickets..." 
        [ngModel]="searchQuery"
        (ngModelChange)="onSearchQueryChanged($event)">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <!-- Use the async pipe to handle the observable and display filtered tickets -->
        <div class="col-md-4" *ngFor="let ticket of filteredTickets$ | async">
          <div class="card mb-4 o-hidden">
            <div class="card-header">
              {{ ticket.status }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ ticket.type.type }}</h5>
              <h2>{{ ticket.sujet }}</h2>
              <p class="card-text">{{ ticket.details }}</p>
              <p>{{ ticket.dateCreation }}</p>
              <button *ngIf="ticket.status === 'FINIE'" class="btn btn-primary m-1" (click)="onRate(ticket.id)">Rate</button>
              <button *ngIf="ticket.status !== 'FINIE'" class="btn btn-danger m-1" (click)="delete(ticket.id)">Delete</button>
              <button *ngIf="ticket.status !== 'FINIE'" class="btn btn-info m-1" (click)="update(ticket.id)">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
