<div class="">
    <div class="breadcrumb">
        <h1>Quiz</h1>
        <ul>
            <li><a href="#">Quiz Table</a></li>
            <li>Quiz</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="email" placeholder="Search Quizzes" [formControl]="searchControl" class="form-control form-control-rounded" type="email">
            </div>
        </div>
        <div class="col-md-12">
            <div class="card  o-hidden">
                <ngx-datatable
                        style="height: 500px; box-shadow: none"
                        class="material fullscreen"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="60"
                        [scrollbarV]="true"
                        [rows]="filteredQuizzes">
                    <ngx-datatable-column name="name" [width]="300">
                        <ng-template ngx-datatable-header-template>
                            Title
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="category">
                        <ng-template ngx-datatable-header-template>
                            Category
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="subtitle">
                        <ng-template ngx-datatable-header-template>
                            Description
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="score">
                        <ng-template ngx-datatable-header-template>
                            Status
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="score">
                        <ng-template ngx-datatable-header-template>
                            Score
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
