<div class="">

<div *ngIf="currentInstitution" class="breadcrumb ">
        <h1 >{{currentInstitution.name || "institution name"}}'s classes</h1>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-2 btn-group-sm " >
            <button (click)="createClassModel(createClass)" class="btn btn-success btn-sm m-1 " >Create class</button>
        </div>
        <div class="col-md-12">
            <div class="card o-hidden">

                <div *ngIf="loadingClasses" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
                    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                        <span class="spinner-glow spinner-glow-primary mr-5" style="font-size: 3rem;"></span>
                    </div>
                </div>
                <div *ngIf="!loadingClasses">
                    <ngx-datatable
                            style="height: calc(100vh - 270px); box-shadow: none"
                            class="material fullscreen"
                            [columnMode]="'force'"
                            [columns]="[
        { name: 'Name' },
        { name: 'Students', cellTemplate: students, width: 200 },
        { name: 'Courses', cellTemplate: courses, width: 200 },
        { name: 'Actions', prop: 'id', cellTemplate: deleteBtnTemplate, width: 250 }
    ]"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="100"
                            [scrollbarV]="true"
                            [scrollbarH]="true"
                            [externalPaging]="true"
                            [count]="totalItemsClasses"
                            [offset]="(currentPageClasses - 1) * itemsPerPageClasses"
                            [limit]="itemsPerPageClasses"
                            [rows]="classes | paginate: { itemsPerPage: itemsPerPageClasses, currentPage: currentPageClasses, totalItems: totalItemsClasses }">

                        <ng-template #students let-row="row" let-value="value">
                            <button class="btn btn-link" (click)="openModal('students', row.students)">
                                Show Students
                            </button>
                        </ng-template>

                        <ng-template #courses let-row="row" let-value="value">
                            <button class="btn btn-link" (click)="openModal('courses', row.courses)">
                                Show Courses
                            </button>
                        </ng-template>

                        <!-- Modal Template -->
                        <ng-template #listModal let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">{{ modalTitle }}</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ul>
                                    <li *ngFor="let item of modalList">{{ item }}</li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Close</button>
                            </div>
                        </ng-template>

                        <ng-template #deleteBtnTemplate let-row="row" let-value="value">
                            <button class="btn btn-danger m-1" (click)="modalConfirmClassFunction(modalConfirmClass, row)">Remove</button>
                            <button class="btn btn-primary m-1" (click)="openUserModal(addUserToClass, row)">Add</button>
                            <button class="btn btn-primary m-1" (click)="openUserModal(removeUserFromClass, row)">remove</button>
                        </ng-template>

                    </ngx-datatable>
                </div>
                <pagination-controls (pageChange)="currentPageClasses = $event"></pagination-controls>
            </div>
        </div>
    </div>
<ng-template #modalConfirmClass let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title-class">Class removal</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to remove the class <span class="text-primary">{{ currentClass.name }}</span> from {{currentInstitution.name}}?</strong></p>
        <p>All information associated with this class will be permanently deleted from the institution.
            <span class="text-danger">This operation cannot be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded" (click)="modal.dismiss('cancel')">Cancel</button>
        <button type="button" ngbAutofocus class="btn btn-danger btn-rounded" (click)="modal.close('Ok')">Ok</button>
    </div>
</ng-template>
<ng-template #createClass let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title-class">Create Class</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="createClassForm" (ngSubmit)="addClass()">
            <div class="row">
                <div class="col-md-6 form-group mb-3">
                    <label for="name">Class Name</label>
                    <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter class name">
                    <div *ngIf="shouldShowError('name', 'required')" class="text-danger">
                        Class name is required.
                    </div>
                </div>
                <div class="col-md-6 form-group mb-3">
                    <label for="students">Students</label>
                    <select formControlName="students" class="form-control" id="students" multiple data-live-search="true">
                        <option *ngFor="let student of students" [value]="student">{{ student }}</option>
                    </select>
                    <div *ngIf="shouldShowError('students', 'required')" class="text-danger">
                        At least one student is required.
                    </div>
                </div>
                <div class="col-md-12">
                    <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Create</btn-loading>
                </div>
            </div>
        </form>
    </div>
</ng-template>
    <!-- Modal for Adding User to Class -->
    <ng-template #addUserToClass let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title-add-user">Add User to Class</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
                <div class="form-group mb-3">
                    <label for="userEmailadd">User Email</label>
                    <input type="email" formControlName="userEmail" class="form-control" id="userEmailadd" placeholder="Enter user email">
                    <div *ngIf="shouldShowError('userEmail', 'required')" class="text-danger">
                        User email is required.
                    </div>
                    <div *ngIf="shouldShowError('userEmail', 'email')" class="text-danger">
                        Invalid email format.
                    </div>
                </div>
                <div class="form-group">
                    <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Add</btn-loading>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- Modal for Removing User from Class -->
    <ng-template #removeUserFromClass let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title-remove-user">Remove User from Class</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="removeUserForm" (ngSubmit)="removeUser()">
                <div class="form-group mb-3">
                    <label for="userEmailremover">User Email</label>
                    <input type="email" formControlName="userEmail" class="form-control" id="userEmailremover" placeholder="Enter user email">
                    <div *ngIf="shouldShowError('userEmail', 'required')" class="text-danger">
                        User email is required.
                    </div>
                    <div *ngIf="shouldShowError('userEmail', 'email')" class="text-danger">
                        Invalid email format.
                    </div>
                </div>
                <div class="form-group">
                    <btn-loading btnClass="btn-primary btn-rounded" [loading]="loading">Remove</btn-loading>
                </div>
            </form>
        </div>
    </ng-template>
</div>