<div class="row">
    <div class="col-md-12">
      <div class="card mb-4">
        <div class="card-header">
          <h4 class="card-title">Frequently Asked Questions</h4>
        </div>
        <div class="card-body">
          <div *ngFor="let faq of faqList" class="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                    {{ faq.question }}
                </h5>
              </div>
                <div class="card-body">
                 <h5>{{ faq.answer }}</h5> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  