<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">{{ quiz.title }}</h2>
            <p class="card-text">{{ quiz.description }}</p>
        </div>
        <div class="card-body">
            <form (ngSubmit)="submitQuiz()">
                <div *ngFor="let question of quiz.questions; let i = index" class="mb-4">
                    <div class="form-group">
                        <label class="form-label">{{ question.questionText }}</label>
                        <div *ngIf="question.type === 'MULTIPLE_CHOICE'" class="form-check">
                            <div *ngFor="let option of question.options">
                                <input
                                        type="radio"
                                        class="form-check-input"
                                        name="question{{ i }}"
                                        [value]="option"
                                        [(ngModel)]="answers[i]"
                                />
                                <label class="form-check-label">{{ option }}</label>
                            </div>
                        </div>
                        <div *ngIf="question.type === 'SHORT_ANSWER' || question.type === 'LONG_ANSWER'">
                            <input
                                    type="text"
                                    class="form-control"
                                    [(ngModel)]="answers[i]"
                                    name="question{{ i }}"
                            />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div *ngIf="quizSubmitted" class="mt-4">
                <h3>Your Score: {{ score }}</h3>
            </div>
        </div>
    </div>
</div>
