<div *ngIf="quiz">
    <h2>{{ quiz.title }}</h2>
    <p>{{ quiz.description }}</p>

    <form (ngSubmit)="onSubmit()">
        <div *ngFor="let question of quiz.questions">
            <h3>{{ question.text }}</h3>
            <div *ngIf="question.type === 'MULTIPLE_CHOICE'">
                <div *ngFor="let option of question.options">
                    <input type="radio" [name]="question.id" [value]="option" [(ngModel)]="answers[question.id]"> {{ option }}
                </div>
            </div>
            <div *ngIf="question.type === 'SHORT_ANSWER'">
                <input type="text" [(ngModel)]="answers[question.id]">
            </div>
            <div *ngIf="question.type === 'LONG_ANSWER'">
                <textarea [(ngModel)]="answers[question.id]"></textarea>
            </div>
        </div>
        <button type="submit">Submit Quiz</button>
    </form>
</div>
